<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
  
      <mapping class="by.owm.dao.entity.UserEntity" />
      <mapping class="by.owm.dao.entity.StatusEntity" />
      <mapping class="by.owm.dao.entity.FieldEntity" />
      <mapping class="by.owm.dao.entity.RequestEntity" />
      <mapping class="by.owm.dao.entity.ProjectEntity" />
      <mapping class="by.owm.dao.entity.PocketEntity" />
      <mapping class="by.owm.dao.entity.DonateEntity" />
      <mapping class="by.owm.dao.entity.CommentEntity" />

  </session-factory> 
 
</hibernate-configuration>