<div ng-controller="auth-ctrl">

    <div style=" width : 400px; height: 200px; background-color: #2aabd2; padding:5px; margin: 400px;" class="auth-box">
        <label style="width:130px;">Логин:</label><br>
        <input style="width:160px;" ng-model="login"><br>
        <label style="width:130px;">password</label><br>
        <input style="width:160px;" ng-model="password"><br>
        <button ng-click="login" style="width:130px;" ng-model="submit">ok</button>
        <label ng-model="submit" src="">forgot your password?</label>
    </div>

</div>